@import "react-alice-carousel/lib/alice-carousel.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sub_navbar {
    z-index: 999;
    position: fixed;
    top: 8rem;
    width: 100%;
    padding: 15px;
    background-color: #F5F5F5;
}

.logo_subscribe {
    display: flex;
    margin-left: 25px;
    align-items: center;
    text-align: center;

}

.greate_icons {
    margin-left: 10px;
    font-size: 14px;
    display: inline-flex;
}

.subs {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}

/* ************Second section ************* */

.second-section_sub {
   
    position: relative;
    top: 11.4rem;
    width: 100%;
    margin-bottom: 200px !important;
    overflow: hidden;


}

.section-heading {
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.slider_main_sub {
    width: 100%;
    padding: 30px 80px;
    display: flex;
    gap: 30px;
    
}

.slide-div {   
    border-radius: 20px;
    gap: 20px;
}

.price-box {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px 25px;
    background-color: #222940;
    color: #fff;

}

.price-box .pay_details strong {
    font-size: 25px;
}

.price-box .pay_details span {
    font-size: 18px;
}

.basic-section,.advance-section {   
    padding: 20px 25px;
}


.mai_basic_section{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.mai_basic_section:hover{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
}

.btn-section {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #e5e5e5;
    padding: 15px 25px;
    text-align: center;
}

.btn-section .pay-btn {
    padding: 12px 30px;
    cursor: pointer;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #292240;
}
.btn-section .pay-btn:hover {
   background-color: #cd1f7c;
}

.basic-section h5,.advance-section h5 {
    font-size: 18px;
}

.basic-section p,.advance-section p {
    font-size: 14px;
    color: grey;
    
}

.hr-sec {
    width: 80%;
    margin-left: 30px;
}