* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sub_navbar {
   
    z-index: 999;
    position: fixed;
    top: 8rem;
    width: 100%;
    padding: 15px;
    background-color: #F5F5F5;
}

.logo_subscribe {
    display: flex;
    margin-left: 25px;
    align-items: center;
    text-align: center;

}

.greate_icons {
    margin-left: 10px;
    font-size: 14px;
    display: inline-flex;
}

.subs {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif
}

.top-section {
    margin-top: 190px;

}

.middle-section {
    width: 100%;
   

}

.ragister {
    align-items: center;
    display: flex;
    font-size: 21px;
    height: 400px;
    justify-content: center;
    line-height: 27px;
    padding: 93px;
    text-align: center;
}